*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;    
    font-family: 'Roboto', sans-serif;
}

.header {
    
    background-color: #1F2937;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #F9FAF8;
    padding: 5px 200px 5px 200px;
}

.navbar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 75%;
    
}
.navbar h1{
    font-size: 24px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
  }

.nav-links{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    padding-right: 170px;
}

.main.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 75%;
    margin-bottom: 100px;
}

.text {
    /* border: 1px solid white; */
    width: 400px;
}

.text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text p{
    margin-top: 10px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    background-color: gray;
    width: 450px;
    height: 200px;
}


button {
    margin-top: 10px;
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.main.random{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.main.random h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.random-container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    /* border: 1px solid red; */
}

.img-text-container{
    /* border: 1px solid black; */
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    /* border: 1px solid #3882F6; */
    padding: 5px;
    width: 140px;
}

.random-container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    /* border: 1px solid red; */
    text-align: center;
}



.img-text{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 120px;
    padding: 20px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.main.quote{  
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
   
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
    /* border: 1px solid black; */
    padding: 10px;
    margin: 100px 100px 0px 100px;
   width: 850px;
}

.quote-person {
    font-size: 14px;
    display: flex;
    width: 780px;
    justify-content: flex-end;
    font-style: light italic;
    color: #1F2937; 
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.main.signup{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.main-signup-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px;
    margin: 50px;
    height: 110px;
    width: 980px;
    /* border: 1px solid black; */
}
.signup-block{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #F9FAF8;
    gap: 3px;
}

#signup-p1{
    font-size: 24px;
    font-weight: bold;
}

#signup-p2{
    font-size: 12px;
    color: rgb(229, 229, 229)F8;
}

#button2{
    margin-top: 10px;
    display: flex;
    border: 1px solid white;
    color: #F9FAF8;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.footer{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #F9FAF8;
    background-color: #1F2937;
}

